<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="./html/MyValues.html">My values</a></li>
            <li><a href="./html/MyProjects.html">My Projects</a></li>
            <li><a href="./html/MySkill.html">My Skill</a></li>
            <li><a href="./html/contac.html">Contact with me</a></li>
        </ul>
    </header>
    <main>
        <img class="center" src="./assets/img/MyPhoto.jpg" alt="Luis Fernandez's photo">
        <div class="iam">
            <h1>I'm Luis Fernandez</h1>
            <h3>a student software development</h3>
        </div>
        <div class="container">
            <hr>
            <h2>who I am?</h2>
            <p>
                Hi im luis alejandro Fernandez Lluberes, i'm 21 years old, i'm a software developer's student from technological institute of the americas <a href="https://itla.edu.do/" target="_blank">ITLA</a> and live in th National District of Santo Domingo
            </p>    
            <br>
            <h2>what I like?</h2>
            <p>
                <ul>
                    <li>Video games</li>
                    <li>cats and dogs</li>
                    <li>Anime</li>
                    <li>swimming</li>
                    <li>IT</li>
                </ul>
            </p>
        </div>
    </main>
    <footer>
        <p>
            Contact with me Click <a href="./contac.html">Here</a>  - No Copyright
        </p>
    </footer>
</body>
</html>