<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>
<body>
    <main>
        <h1>My Projects</h1>
        <br>
        <div>
            <h2>SoftwareNomina</h2>
            <img src="https://user-images.githubusercontent.com/84060723/166086322-eeedd258-74c1-4db7-a98d-63f06b202293.png" alt="softwareNomina's photo ">
            <p>
                The purpose of this project was to create a payroll management system for programming materai 2. you can see more about this project clicking <a href="https://github.com/luisferllub230/SotfwareNomina4.0" target="_blank">HERE</a>
            </p>
        </div>
        <div>
            <h2>Text edit</h2>
            <img src="https://user-images.githubusercontent.com/84060723/157458280-cce03918-adc0-4eac-8bda-5aa77a7b79db.png" alt="Text edit's photo ">
            <p>
                The purpose of this project was to create a text edit for DCU. you can see more about this project clicking <a href="https://github.com/luisferllub230/TextEditor" target="_blank">HERE</a>
            </p>
        </div>
        <div>
            <h2>Calculator</h2>
            <img src="https://user-images.githubusercontent.com/84060723/152291931-2e93fa72-9cfd-4e04-81ab-db4cff01d5af.png" alt="Calculator's photo ">
            <p>
                The purpose of this project was to create a Calculator for DCU. you can see more about this project clicking <a href="https://github.com/luisferllub230/Calculadora" target="_blank">HERE</a>
            </p>
        </div>
        <a href="../index.html">GO HOME</a>
    </main>
</body>
</html>