<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skill</title>
</head>
<body>
    <!--nota: se que no es eficiente :)-->
    <main>
        <h1>My skills</h1>
        <table>
            <tr>
                <td>Skill</td>
                <td>level</td>
                <td>Skill</td>
                <td>level</td>
            </tr>
            <tr>
                <td>
                    html
                </td>
                <td>
                    ⭐⭐⭐⭐⭐
                </td>
                <td>
                    css
                </td>
                <td>
                    ⭐⭐⭐⭐⭐
                </td>
            </tr>
            <tr>
                <td>
                    bootstrap
                </td>
                <td>
                    ⭐⭐⭐
                </td>
                <td>
                    javascript
                </td>
                <td>
                    ⭐⭐
                </td>
            </tr>
            <tr>
                <td>
                    aps.net
                </td>
                <td>
                    ⭐⭐⭐
                </td>
                <td>
                    OOP
                </td>
                <td>    
                    ⭐⭐⭐⭐⭐
                </td>
            </tr>
            <tr>
                <td>
                    MVC
                </td>
                <td>
                    ⭐⭐⭐⭐⭐
                </td>
                <td>
                    SQL
                </td>
                <td>
                    ⭐⭐⭐⭐
                </td>
            </tr>
        </table>
        <a href="../index.html">GO HOME</a>
    </main>
</body>
</html>